name: CI
on: [push, pull_request]
jobs:
  # test:
  #   ...
  deploy:
    name: "Deploy to production"
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/release'
    # needs: test
    steps:
      - name: Configure SSH
        run: |
          install -m 600 -D /dev/null ~/.ssh/id_rsa
          echo "${{ secrets.PRODUCTION_SSH_KEY }}" > ~/.ssh/id_rsa
          echo "${{ secrets.PRODUCTION_SSH_HOST }}" > ~/.ssh/known_hosts
      - name: Stop the server
        run: pm2 stop receptia
      - name: Check out the source
        run: cd '/var/www/receptia-multidb-backend' && git fetch && git reset --hard origin/release
      - name: Start the server
        if: ${{ always() }}
        run: sudo pm2 restart receptia
