name: CI
on:
  push:
    branches: [ release ]

jobs:
  deploy:    
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Deploy source-code
        uses: appleboy/scp-action@master
        env:
          HOST: ${{ secrets.PRODUCTION_SSH_HOST }}
          USERNAME: ${{ secrets.PRODUCTION_SSH_USER }}
          PORT: 22
          KEY: ${{ secrets.PRODUCTION_SSH_PRIVATE_KEY }}
        with:
          source: "*"
          target: "/var/www/receptia-multidb-backend"
