name: CI
on: [push, pull_request]
jobs:
  # test:
  #   ...
  deploy:
    name: "Deploy to production"
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/release'
    # needs: test
    steps:
      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:          
          key: ${{ secrets.PRODUCTION_SSH_KEY }}
          known_hosts: 'temp placeholder actual value added just below'
          name: production
      - name: Adding Known Hosts
        run: ssh-keyscan -H ${{ secrets.PRODUCTION_SSH_HOST }} >> ~/.ssh/known_hosts
      - name: Navigate to project
        run: ssh production 'sudo cd /var/www/receptia-multidb-backend'
      - name: Stop the server
        run: ssh production 'sudo pm2 stop receptia'
      - name: Check out the source
        run: ssh production 'sudo git fetch && git reset --hard origin/release'
      - name: Start the server
        if: ${{ always() }}
        run: ssh production 'sudo pm2 restart receptia'
