name: CI
on:
  push:
    branches: [ release ]
jobs:

  deploy:
    name: Deploy release branch on production
    runs-on: ubuntu-latest
    steps:
    - name: execute remote script over ssh
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.PRODUCTION_SSH_HOST }}
        username: ${{ secrets.PRODUCTION_SSH_USER }}
        key: ${{ secrets.PRODUCTION_SSH_PRIVATE_KEY }}
        port: 22
        script: sh /var/www/receptia-multidb-backend/deploy.sh
